/target/
/classes/
/lib/
/out/
/checkouts
pom.xml
pom.xml.asc
*.iml
*.jar
*.class
*~
/.lein-*
/.nrepl-port
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.repl
resources/public/js/compiled/**
figwheel_server.log
./idea/*
